#top{
    width: 100%;
    height: 67px;
    background: #ebebeb;
    
}
h1{
    width: auto;
    max-width: 998px;
    margin: 0 auto; 
    
}
h1 img{
    margin: 12px 0 0 4px;
    float: left;
}
.v-line{
    margin-left: 3px;
    font-size: 18px;
    float: left;
    margin-top:33px;
    color:#ccc;
    font-weight: normal;
}
#hw_name{
    float: left;    
    margin-top: 29px;
    font-size: 18px;
    margin-left: 12px;
    line-height: 18px;
    font-family: "arial";
    color: #333
}


#mainout{
    width: 100%;
    height: 590px;
    background: #081638
}
#main{
    margin: 0 auto;
    width:1130px;
    height: 590px;
    /* background: red */
    background: url("https://hwid1.vmallres.com/CAS/up/rss_18/ads/login_default_bg.png") no-repeat center
}
#right_box{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 530px;
    width: 380px;
    float: right;
    background: white;
    position: relative;
}
.method{
    /* background: yellow; */
    font-size: 20px;
    width: 189px;
    height: 20px;
    line-height: 20px;
    float: left;
    border-right: 1px solid #ccc;
    margin-top:24px;
    margin-bottom:39px;
    text-align: center;
}
#right_box :nth-child(2){
    border: 0
}
#right_box :nth-child(1) a{
    color:#B40707
}
#right_box span a:hover{
    color:#B40707
}
#login{
    width:380px;
}

#login input{
    width: 328px;
    height:46px;
    font-size: 14px;
    color: #333;
    margin-left: 28px;
    margin-right:28px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
}
::-webkit-input-placeholder{
    
    color: rgb(204, 204, 204)
}
#checkHwout{
    width: 328px;
    border-top: 1px solid #ccc;
    padding-top: 15px;
    /* background: yellowgreen; */
    margin: 0 0 12px 28px;
    position: relative;
}
#checkHwout #rememberHwId{
    margin: 0px;
    width: 18px;
    height: 18px;   
    background:white;   
    cursor: pointer;    
}
#login #checkHwout span{
    position: absolute;
    top: 18px;
    left: 18px;
    padding-left: 6px;
    font-size: 12px;
    color: #333;
    cursor: pointer;
}
#login_btn{
    background-color: #B40707;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #B40707;
    color: #fff;
    width: 328px;
    margin-left: 28px;
    border-radius: 0px;
    line-height: 44px;
    height: 44px;
    font-weight: bolder;
    font-size: 14px;
    cursor: pointer;
    border-radius: 26px;
    text-align: center;
 
}
#right_box>a{
    float: right;
    margin: 16px 28px;
    margin-left: 324px;
    font-size: 12px;
    line-height: 14px;
    color: #007dff;
}
#right_box #others{
    width: 324px;
    margin: 0 auto;
    text-align: center;  
    
}
#right_box #others a{
    color: #007dff;
    padding: 0 10px;
}
#right_box #others :nth-child(1){
    border-right: #ccc 1px solid;
}






#footout{
    width: 100%;

    background:#ebebeb;
}
#foot{
    margin: 0 auto;
    width:1000px;
    height:49px;
    padding: 20px ;
    color: #999;
    text-align: center;
}
#foot p{
    line-height: 24px;
}
#foot a{
    padding: 6px 10px;
    color: #999;
}
#foot a:hover{
    text-decoration: underline;
}
.v-linedown{
    text-align: center;
    margin:0 -6px;
    font-size: 16px;
    /* margin-top:33px; */
    color:#999;
    font-family: "arial";
    font-weight: normal;
}



#icons{
    text-align: center;
    position: absolute;
    bottom: 65px;
    color: #999;
    line-height: 16px;
    width: 328px;   
    margin-left: 28px
}

#line :nth-child(1){
    position: absolute;
    top: 50%;
    left:0px
}
#line :nth-child(3){
    position: absolute;
    top: 50%;
    right: 0px;
}
#line span{
    font-size: 14px;
    text-align: center;
    padding: 0 10px;
    line-height: 1;
}
#logos{
    margin-top: 10px;
    margin-bottom:13px;
    margin-left:  86px ;
    position: absolute;
    bottom: 0px
      
}
#logos a{
    float: left;
    margin-left: 22px;
    width: 42px;
    height: 42px;
}
 #qq{
    background: url(../images/qq.png)
}
#qq:hover{
    background: url(../images/qq_hover.png)    
}
#zhifu{
    background: url(../images/zhifu.png)
}
#zhifu:hover{
    background: url(../images/zhifu_hover.png) -1px 0px;
}
#weixin{
    background: url(../images/wx.png);
    margin-left: 0
}
#weixin:hover{
    background: url(../images/wx_hover.png);
    /* margin-left: 0 */
}